@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@media only screen and (min-width: 800px)  {
	body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 20px;
	background-color: #343538;
}

p {
	color: #EE8200;
	text-shadow: 4px 2px #000000;
	font-size: 20px;
}

h1 {
	color: #44CC44;
	text-shadow: 6px 2px #000000;
	font-size: 25px;
}

ul {
  list-style: none;
}

li {
	float: left;
	margin-left: 6vw;
	margin-right: 5vw;
}

li a {
	text-decoration: none;
	display: block;
  width: 13vw;
}
a:link {
	color:#44CC44;
	text-shadow: 4px 2px #000000;
}

a:hover {
	color: #EE8200;
}

a:visited {
	color: #EE8200;
	text-shadow: 4px 2px #000000;
}
::-webkit-scrollbar {
  display: none;
}

#boven-nav{
	width: 100vw;
	margin-top: -7vh;
	font-size: 25px;
	z-index: 2;
}

#onder-nav{
	width: 100vw;
	margin-top: -7vh;
	font-size: 25px;
	z-index: 2;
}

#Headerbalk {
	background-image: url(../images/Header.jpg);
	width: 100vw;
	height: 10vh;
	border: 5px solid #000000;
	z-index: 1;
}

#Footerbalk {
	background-image: url(../images/Header.jpg);
	width: 100vw;
	height: 10vh;
	border: 5px solid #000000;
	z-index: 1;
}

.Home-Wiebenik {
	display: flex;
}

#Wiebenik{
	width: 30vw;
}

.FotoMij {
 	margin-left: -90vw;
	margin-top: 10vh;
	width: 20vw;
	height: 40vh;
	border-radius: 25px;
  border: 2px solid #EE8200;
}

.Welkom {
	margin-top: 20vh;
	margin-left: -60vw;
	width: 40vw;
}

#Skills {
	display: flex;
}

.Categorie {
	text-align: center;
	width: 30vw;
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	border: 5px solid #000000;
	background-color: #494a4c;
}

.flex-container {
  margin-top:3%;
  margin-left:17%;
  margin-right:15%;
  display: flex;
	border-radius: 25px;
	border: 5px solid #000000;
	background-color: #494a4c;
}

.item {
	border-radius: 25px;
	width: 35vw;
	height: 42vh;
}

#container-inhoud {
  padding: 30px;
}

#TextBoxes {
	padding-right: 10vw;
	margin-bottom: 5vh;
	color: #EE8200;
	text-shadow: 4px 2px #000000;
}

.Contact {
	width: 75vw;
	border-radius: 25px;
	border: 5px solid #000000;
	background-color: #494a4c;
	display: flex;
	flex-direction: row;
}

.FooterTekst {
	width: 30vw;
	position: relative;
	top: 10vh;
	right: 5vw;
}
}

* {
	margin: 0px auto;
	padding: 0px auto;
}

@media only screen and (max-width: 799px)  {
	body {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		font-size: 16px;
		background-color: #343538;
	}
	ul {
	  list-style: none;
	}

	li {
		float: left;
		margin-left: 6vw;
		margin-right: 5vw;
	}

	li a {
		text-decoration: none;
		display: block;
	  width: 13vw;
	}

	a:link {
		color:#44CC44;
		text-shadow: 4px 2px #000000;
	}

	a:hover {
		color: #EE8200;
	}

	a:visited {
		color: #EE8200;
		text-shadow: 4px 2px #000000;
	}

	::-webkit-scrollbar {
	  display: none;
	}

	#boven-nav{
		width: 100vw;
		margin-top: -15vh;
		padding-right: 15vw;
		padding-bottom: 5%;
		font-size: 20px;
		z-index: 2;
	}

	#onder-nav{
		width: 100vw;
		margin-top: -15vh;
		padding-right: 15vw;
		padding-bottom: 5%;
		font-size: 20px;
		z-index: 2;
	}

	#Headerbalk {
		background-image: url(../images/Header.jpg);
		width: 100vw;
		height: 15vh;
		border: 5px solid #000000;
		z-index: 1;
	}

	#Footerbalk {
		background-image: url(../images/Header.jpg);
		width: 100vw;
		height: 15vh;
		border: 5px solid #000000;
		z-index: 1;
	}

	#Wiebenik{
		width: 90vw;
	}

	.Welkom {
		width: 90vw;
		text-align: center;
	}

	.FotoMij {
		width: 80vw;
		height: 40vh;
		margin-left: 5vw;
		margin-top: 5vh;
		border-radius: 25px;
	  border: 2px solid #EE8200;
	}

	.Categorie {
		text-align: center;
		width: 90vw;
		margin: 5%;
		display: flex;
		flex-wrap: wrap;
		border-radius: 25px;
		border: 5px solid #000000;
		background-color: #494a4c;
	}

	.flex-container {
		width: 90vw;
	  display: flex;
		flex-wrap: wrap;
		border-radius: 25px;
		border: 5px solid #000000;
		background-color: #494a4c;
	}

	.item {
		border-radius: 25px;
		width: 90vw;
		height: 42vh;
	}

	#item-inhoud {
		width: 90vw;
	}

  #container-inhoud {
	  text-align: center;
  }

	#TextBoxes {
		padding-right: 10vw;
		margin-bottom: 5vh;
		color: #EE8200;
		text-shadow: 4px 2px #000000;
	}

	.Contact {
		width: 92vw;
		height: 70vh;
		border-radius: 25px;
		border: 5px solid #000000;
		background-color: #494a4c;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	p {
		color: #EE8200;
		text-shadow: 4px 2px #000000;
		font-size: 17px;
	}

	h1 {
		color: #44CC44;
		text-shadow: 6px 2px #000000;
		font-size: 25px;
	}
}

/* ------------------ Alle secties -------------------*/


/* ------------------ Welkom -------------------*/


/* ------------------ Skills -------------------*/

.TitleSkills {
	margin-top: 10vh;
	padding-bottom: 5vh;
	text-align: center;
}

.Fotos {
	display: flex;
	flex-wrap: wrap;
}

/* ------------------ Projecten -------------------*/

.TitleProjecten {
	margin-top: 10vh;
	padding-bottom: 5vh;
	text-align: center;
}

/* ------------------ Contact -------------------*/

.TitleContact {
	margin-top: 10vh;
	padding-bottom: 5vh;
	text-align: center;
}
